/* Contenedor principal para la lista de canciones */
.songs-container {
  background-color: black; 
  color: white; 
  min-height: 100vh; 
  padding: 20px; 
  text-align: center; 
}

.songs-title {
  font-size: 3em; 
  margin-bottom: 20px; 
}

.songs-list {
  list-style-type: none; 
  padding: 0; 
}

.song-item {
  font-size: 1.5em; 
  margin: 10px 0; 
}