.home-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
  background-image: url('/src/assets/images/APP.jpeg');
  background-size: cover; 
  background-position: center; 
  color: rgb(235, 17, 235); 
  text-align: center; 
  padding: 20px; 
  box-sizing: border-box;
}
.welcome-message {
  background-color: rgba(49, 43, 43, 0.5); 
  padding: 20px; 
  border-radius: 10px; 
}
.welcome-message h1 {
  font-size: 3em; 
  margin: 0; 
}
.welcome-message p {
  font-size: 1.5em; 
}